/* dark-mode.css */

body.dark-mode {
  background-color: #000000;
  color: #ffffff;
}

.equipe-lista.dark-mode {
  background-color: #393646;
  color: #ffffff;
}

.dark-mode .dark-text{
  color: #ffffff;
}
