@use '../../scss/abstracts/' as *;

.box {
    padding: 20px 60px;
    border-radius: $borderRadius;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

    &-purple {
        background-color: rgb(80, 136, 255);
        color: $white;
    }

    &-fullheight {
        height: calc(100% - $spacing);

        @include tablet {
            height: calc(100% - $mobileSpacing);
        }
    }
    &.darkMode {
        background-color: rgba(255, 255, 255, 0.3);
        color: rgb(255, 255, 255);
    }
}