@use '../scss/abstracts/' as *;

.main {
  padding-left: $sideBarWidth;
  overflow-x: hidden;
  background: #eeeeee;
  color: rgb(0, 0, 0);

  &.dark-mode {
    background-color: #303030; // Cor de fundo para o modo dark
    color: #ffffff; // Cor do texto para o modo dark
  }


  @include tablet {
    padding-left: 0;
    width: 100vw;
  }

  &__content {
    min-height: 100vh;
    padding: $spacing;
    transition: all 0.5s ease-in-out;

    @include tablet {
        padding: $mobileSpacing;
        position: relative;
        background-color: $bodyBg;
    }
  }

}

